{{- if site.Params.rtwt.home.showBio -}}
<div class="centered-container">
  {{- if site.Params.rtwt.home.showAuthorImg -}}
  <img style="border: var(--dim-color) 1px solid;border-radius:100%;" width="200px" src="/images/avatar.png" />
  {{- end -}}

  <h1 class="margin-sm">{{- site.Data.rtwt.content.home.greetings -}}</h1>
  <div class="dim" style="width:70%;margin:0 15%;">{{- site.Data.rtwt.content.home.text -}}
  </div>
  <ul class="social-links">
    {{ range sort site.Params.social "weight" }}
      <li>
        <a href="{{ .url }}" target="_blank" rel="noopener noreferrer" aria-label="{{ .name }}">
          <i class="{{ .icon }}"></i>
        </a>
      </li>
    {{ end }}
  </ul>
</div>
{{- end -}}
